<html>
    <head>
        <title>
            Delete
        </title>
        <body>
            <form method="post"></form>
            <!-- <p id="button"> </p>
            <p>Are you sure you want to delete content?</p> -->
            <button onclick='myFunction()'>Confirm</button>
            <script>
                function myFunction(){
                    confirm('Are you sure? do you really want to delete these records?')
                }
            </script>
        </form>
        </body>
    </head>
</html>